layout: index
description: LiquidJS là một công cụ mẫu tương thích Shopify / GitHub Pages đơn giản, biểu cảm và an toàn trong JavaScript thuần túy.
subtitle: Một công cụ mẫu đơn giản, biểu cảm và an toàn.
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-shield
      h3.intro-feature-title Hiển thị an toàn
      p.intro-feature-desc Các mẫu Liquid rất dễ đọc và có khả năng chịu lỗi, do đó phù hợp với các nhà thiết kế và khách hàng. Các toán tử và biểu thức được phân tích thành AST và không sử dụng #[code eval] hoặc #[code new Function].
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-rocket
      h3.intro-feature-title JavaScript thuần túy
      p.intro-feature-desc Được viết bằng JavaScript thuần túy không có ràng buộc gốc, có sẵn trong cả Node.js và trình duyệt. Tất cả các gói CMD, ESM và CJS đều có sẵn trên CDN.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-shopify
      h3.intro-feature-title Tương thích với Shopify
      p.intro-feature-desc Tất cả các bộ lọc và thẻ từ Ruby #[a(href="https://github.com/shopify/liquid") shopify/liquid] đều được LiquidJS hỗ trợ. Các trang web #[a(href="https://jekyllrb.com/") Jekyll], #[a(href="https://pages.github.com/") GitHub Pages] và #[a(href="https://themes.shopify.com/") các mẫu Shopify] có thể được chuyển sang Node.js một cách dễ dàng.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-typescript
      h3.intro-feature-title TypeScript nghiêm ngặt
      p.intro-feature-desc Toàn bộ repo được viết lại ở chế độ nghiêm ngặt của TypeScript để đảm bảo trải nghiệm mượt mà khi sử dụng thư viện này và tài liệu chính xác và luôn được cập nhật.